{% extends "base.html" %} {% block title %} TTPS 2020 {% endblock %} {% block
content %}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">SPIROSSCOVID</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Repositorio</a>
        <a class="nav-link" href="#">Informe de Avance</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Taller de Producción de Software</h1>
    <p class="lead">Materia de la UNLP</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>
        Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by
        <a href="https://twitter.com/mdo">@mdo</a>.
      </p>
    </div>
  </footer>
</div>

{% endblock %}
